@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using XChat.Shared.Services
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="sidebar">
    <NavLink href="/login">Логін</NavLink>
    <AuthorizeView>
        <Authorized>
            <NavLink href="/chat">Чат</NavLink>
            <button @onclick="Logout">Вийти</button>
        </Authorized>
    </AuthorizeView>
</div>

<main>
    @Body
</main>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async void Logout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/login");
    }
}