@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using XChat.Shared.Models
@using XChat.Shared.Services
@page "/login"
@inject AuthService AuthService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Логін:</label>
        <InputText @bind-Value="user.Name" />
    </div>
    <div>
        <label>Пароль:</label>
        <InputText type="password" @bind-Value="user.Password" />
    </div>
    <button type="submit">Увійти</button>
    <button type="button" @onclick="HandleRegister">Реєстрація</button>
</EditForm>

@code {
    private readonly User user = new();

    private async Task HandleLogin()
    {
        var token = await AuthService.LoginAsync(user);
        if (token != null)
        {
            Navigation.NavigateTo("/chat");
        }
    }

    private async Task HandleRegister()
    {
        var token = await AuthService.RegisterAsync(user);
        if (token != null)
        {
            Navigation.NavigateTo("/chat");
        }
    }
}