@using Microsoft.AspNetCore.Components.Web
@using XChat.UI.Shared
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/XChat.UI.Shared/app.css" />
    <link rel="stylesheet" href="XChat.UI.Web.styles.css" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />

    <script src="_content/XChat.UI.Shared/scripts.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
